# selenium 相关
selenium
webdriver-manager        # 自动下载/管理 chromedriver（可选）

# 数据处理
pandas

# 图像识别
pytesseract
Pillow
opencv-python
numpy
# 测试框架
pytest
allure-pytest           # 与 allure 报告集成

# 其他
ast-unparse              # 如果用到 ast 反解析（可选）